<nav class="navbar navbar-light bg-light d-flex border-bottom">
  <div class="ms-3 navbar-brand text-secondary"><%= link_to 'Wikinimous', articles_path %></div>

  <div class="me-3 text-secondary"> <%= link_to 'New Article', new_article_path %></div>

</nav>
