// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title {
  color: rgb(44, 124, 170);
}

p {
  font-weight: 300;
}

.container {
  width: 600px;
}
