// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@import 'colors';

.title, h1, h2 {
  color: $blue;
}

p {
  font-weight: 300;
}

.container .row {
  width: 500px;
  margin-left: 100px;
  margin-right: 100px;
}

.navbar a {
  color: gray;
}
